<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initialize Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>信息填写&简历上传</h1>
    <form action="/" method="POST">
        <label for="resume_text">点击自动填写:</label><br>
        <input type="button" value="前端工程师" onclick="autoFillForm()"><br><br>

        <label for="job_title">岗位名称:</label><br>
        <input type="text" id="job_title" name="job_title"><br><br>
        <label for="job_description">岗位描述:</label><br>
        <textarea id="job_description" name="job_description"></textarea><br><br>
        <label for="resume_text">简历信息:</label><br>
        <textarea id="resume_text" name="resume_text"></textarea><br><br>
        <input type="submit" value="开始面试！">

        
    </form>
    <form action="/history", method="GET">
        <input type="submit" value="面试记录">
    </form>

    <script>
        function autoFillForm() {
            // 使用fetch获取Python提供的数据
            fetch('/get_data')
               .then(response => response.json())
               .then(data => {
                    document.getElementById('job_title').value = data.job_title;
                    document.getElementById('job_description').value = data.job_description;
                    document.getElementById('resume_text').value = data.resume_text;
                });
        }
    </script>
</body>
</html>