<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interview Questions</title>
</head>
<body>
    <h1>Interview Questions</h1>
    
    <div id="connectionStatus"></div>
    <form id="interviewForm" action="/stream_questions" method="POST">
        <button type="submit">生成面试问题</button> 
    </form>
    <form action="/go_back_interview">
        <input type="submit" value="开始面试">
    </form>
    <div id="questions"></div>

    

    <script>
        document.getElementById('interviewForm').onsubmit = function(e) {
            console.log("1");
            e.preventDefault();  // 防止表单的默认提交行为
            console.log("2");

            const eventSource = new EventSource(`/stream_questions`);

            document.getElementById('connectionStatus').innerText = '正在连接到猫猫...';

            // 当连接打开时
            eventSource.onopen = function () {
                console.log('连接已打开');
                // 可以在这里根据实际情况隐藏或修改 "正在连接..." 的显示
                document.getElementById('connectionStatus').innerText = '猫猫正在思考...';
            };
            
            eventSource.onmessage = function(event) {
                const questionsDiv = document.getElementById('questions');
                console.log(event.data)
                if(event.data == "[DONE]") {
                    document.getElementById('connectionStatus').innerText = '猫猫已思考完毕，请开始面试！';
                }
                else {
                    let formattedData = event.data.split("¥¥").join("<br>");
                    questionsDiv.innerHTML += formattedData;
                }
            };

            eventSource.onerror = function() {
                eventSource.close();
            };
        };
    </script>
</body>
</html>