<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initialize Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
</head>
<body>
    <h1>信息填写&简历上传</h1>
    <div id="buttons-container">
        <button class="test-button" onclick="submitForm('simulate')">模拟面试</button>
        <button class="test-button" onclick="submitForm('guide')">面试提词器</button>
        <button class="test-button" onclick="window.location.href='/history'">面试记录</button>
    </div>
    <div id="user-info" style="position: absolute; top: 10px; right: 10px; text-align: right;">
        <div id="buttons-container">
            <a href="{{ url_for('login') }}" class="test-button">登录</a>
            <a href="{{ url_for('recharge') }}" class="test-button">兑换码</a>
        </div>
        {% if 'username' in session %}
            <span>欢迎, {{ session['username'] }}</span><br>
            <span>剩余时长: {% if left_point is not none %}{{ left_point }}{% else %}0{% endif %} 分钟</span><br>
        {% endif %}
    </div>
    <form action="/" method="POST" id="interviewForm">
        <input type="hidden" id="action_type" name="action_type" value="simulate">

        <label for="resume_text">点击自动填写:</label><br>
        <input type="button" value="前端工程师" onclick="autoFillForm()" class="test-button"><br><br>

        <label for="job_title">岗位名称:</label><br>
        <input type="text" id="job_title" name="job_title" class="text"><br><br>
        <label for="job_description">岗位描述:</label><br>
        <div>
            <textarea id="job_description" name="job_description" class="textarea"></textarea><br><br>
        </div>
        

        <label for="pdf_file">上传PDF文件:</label><br>
        <input type="file"  id="pdf_file" name="pdf_file" accept="application/pdf"><br><br>

        <label for="resume_text">简历信息:</label><br>
        <textarea id="resume_text" name="resume_text" class="textarea"></textarea><br><br>
    </form>

    <script>
        function submitForm(actionType) {
            document.getElementById('action_type').value = actionType;
            document.getElementById('interviewForm').submit();
        }
    </script>

    <script>
        function autoFillForm() {
            // 使用fetch获取Python提供的数据
            fetch('/get_data')
               .then(response => response.json())
               .then(data => {
                    document.getElementById('job_title').value = data.job_title;
                    document.getElementById('job_description').value = data.job_description;
                    document.getElementById('resume_text').value = data.resume_text;
                });
        }

        document.getElementById('pdf_file').addEventListener('change', function() {
            const formData = new FormData();
            const pdfFile = document.getElementById('pdf_file').files[0];

            if (pdfFile) {
                formData.append('pdf_file', pdfFile);

                fetch('/upload_pdf', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text())  // 暂时使用 .text() 来查看返回的原始内容
                .then(data => {
                    console.log(data);  // 打印完整的返回内容
                    try {
                        const jsonData = JSON.parse(data);
                        if (jsonData.success) {
                            document.getElementById('resume_text').value = jsonData.resume_text;
                        } else {
                            alert('PDF解析失败: ' + jsonData.message);
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        alert('返回的数据不是有效的JSON');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('上传失败');
                })
                .finally(() => {
                    // 重置文件输入字段
                    document.getElementById('pdf_file').value = '';
                });
            } else {
                alert('请选择一个PDF文件');
            }
        });
    </script>
</body>
</html>