<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interview Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <script src="{{ url_for('static', filename='js/ui/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui/highlight.min.js') }}"></script>
</head>
<body>
    <h1>Interview Questions</h1>
    
    <div id="connectionStatus"></div>

    <form action="/go_back_interview">
        <input type="submit" value="开始面试" id="startInterviewBtn" disabled  class="test-button">
    </form>
    <div class="bubbles-container" id="bubblesContainer"></div>

    <script>
        var collectedText = ''; // 用于存储所有流式输入内容
        window.onload = function() {

            const eventSource = new EventSource(`/stream_questions`);

            const startInterviewBtn = document.getElementById('startInterviewBtn');
            startInterviewBtn.disabled = true;

            document.getElementById('connectionStatus').innerText = '正在连接到猫猫...';

            var currentBubble = null;  // To keep track of the current bubble

            // 当连接打开时
            eventSource.onopen = function () {
                console.log('连接已打开');
                // 可以在这里根据实际情况隐藏或修改 "正在连接..." 的显示
                document.getElementById('connectionStatus').innerText = '猫猫正在思考面试问题...';
                collectedText = ''
            };
            
            eventSource.onmessage = function(event) {
                const bubblesContainer = document.getElementById('bubblesContainer');
                // console.log(event.data)
                if(event.data == "[DONE]") {
                    document.getElementById('connectionStatus').innerText = '猫猫已思考完毕，请开始面试！';
                    startInterviewBtn.disabled = false;
                }
                else {
                    if (currentBubble === null) {
                        newBubble();
                    }

                    console.log(event.data)
                    let formattedData = event.data.split("¥¥").join("");
                    collectedText += formattedData
                    currentBubble.innerHTML = marked.parse(collectedText);

                    if (event.data.includes("¥¥")) {
                        newBubble();
                    }
                }
            };

            eventSource.onerror = function() {
                eventSource.close();
            };

            function newBubble() {
                // Create a new bubble if "¥¥" is found or if there is no current bubble
                currentBubble = document.createElement('div');
                currentBubble.className = 'bubble';
                bubblesContainer.appendChild(currentBubble);
                collectedText = ''
            }
        };
    </script>
</body>
</html>