<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interview History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
</head>
<body>
    <h1>面试记录</h1>
    {% for record in records %}
    <p><strong>{{ record.question }}</strong><br>{{ record.answer }}<br>Time: {{ record.duration }} seconds</p>
    {% endfor %}
    <h1>面试评价</h1>
    {{ suggestion }}
    {% for suggestion in suggestions %}
    <p><strong>{{ suggestion.interview_feedback }}</strong></p>
    {% endfor %}
    <!-- <a href="{{ url_for('history') }}">返回面试记录列表</a> -->
    <form action="/go_back_history">
        <input type="submit" value="返回面试记录列表">
    </form>
</body>
</html>